tr:first-child {
    background-color: rgb(255, 219, 102);
}

tr:not(:first-child):hover {
    background-color: rgba(0, 65, 119, 0.253)!important;
    transition: .3s ease-in-out!important;
}

.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
  }

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }