form {
    margin: 20px 280px 20px 300px;
}

.form-control {
    margin-right: 20px;
}

.form-control:focus {
    color: black;
    border-color: rgb(40, 104, 156);
    box-shadow: inset 0 0 1px 2px rgb(16, 92, 155);
}

.btn {
    color: black;
    border: rgb(13, 74, 124) 2px solid;
}

.btn:hover {
    color: rgb(248, 203, 55);
    background-color:rgb(13, 74, 124);
    border:  rgb(2, 44, 78) 2px solid;
}