form {
    margin: 20px 280px 20px 300px;
    justify-content: center;
}

.form-control {
    margin-right: 20px;
}

.form-control:focus {
    color: black;
    border-color: rgb(40, 104, 156);
    box-shadow: inset 0 0 1px 2px rgb(16, 92, 155);
}

input.form-control {
    flex-shrink: 0;
}

.btn {
    color: black;
    border: rgb(13, 74, 124) 2px solid;
}

.btn:hover {
    color: rgb(9, 56, 94);
    background-color:rgba(208, 228, 245, 0.863);
    border:  rgb(2, 44, 78) 2px solid;
}